{% extends "admin/index.html" %}
{% load i18n %}

{% block pretitle %}{% endblock %}
{% block content_title %}<h1>Lab Hamster</h1>{% endblock %}


{% block content %}
    <p>The Tyers Lab Ordering System</p>

    <div id="content-main">

        <h2><a href='/registry'>Go to Registry</a></h2>

        <p><br></p>
        
        <div class="module">
            <table summary="Related Links">
                <h2><a class="section">Related Links</a></h2>
                <tr><th scope="row">
                    <a href="http://brickit.wiki.sourceforge.net">Brickit Wiki</a>
                </th></tr>
                <tr><th scope="row">
                    <a href="http://sourceforge.net/tracker/?func=add&group_id=202085&atid=980169">Report a Bug</a>
                </th></tr>
                <tr><th scope="row">
                    <a href="/admin">Classic Administration View</a>
                </th></tr>                
                <tr><th scope="row">
                    <a href="http://partsregistry.org">MIT Registry of standard biological parts</a>
                </th></tr>                
                <tr><th scope="row">
                    <a href="http://docs.djangoproject.com/en/dev/">Django Documentation</a>
                </th></tr>                
            </table>
        </div>
        
    </div>

{% endblock %}

{% block sidebar %}{% endblock %}
